Advance/HW7/4/scratch.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.0">
    <xs:element name="city" type="CityType"/>
    <xs:complexType name="CityType">
        <xs:sequence>
            <xs:element name="street" type="StreetType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="size" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="StreetType">
        <xs:sequence>
            <xs:element name="house" type="HouseType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="HouseType">
        <xs:attribute name="number" type="xs:int"/>
    </xs:complexType>
</xs:schema>